<html>
	<head>
		<title>Jobify</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/public/images/estilos.css" />
	</head>

	<body>
		<h1>Olá dutera</h1>
		<img src="images/logo.png" alt="gay" />
		<p><%- date %></p>
        <p>Site desenvolvido agora</p>
	</body>
</html>
